<div class="header-area ">
  <div id="sticky-header" class="main-header-area">
    <div class="container-fluid p-0">
        <div class="row align-items-center no-gutters">
            <div class="col-xl-2 col-lg-2">
                <div class="logo-img" style="position: absolute; top:-60px">
                    <a href="index.html">
                        <img src="{{ .Site.Params.site_logo }}" alt="" style="height: 180px;">
                    </a>
                </div>
            </div>
            <div class="col-xl-5 col-lg-6">
                <div class="main-menu  d-none d-lg-block">
                    <nav>
                        <ul id="navigation">
                            {{ $menu := .Site.Menus.main }}
                            {{ $currentPage := . }}
                            {{ range $index, $element := $menu }}
                            {{ $menu_item_url := .URL | relLangURL }}
                            {{ $page_url:= $currentPage.RelPermalink | relLangURL }}
                            {{ if eq $menu_item_url $page_url }}
                            <li>
                                <a  class="active" href="{{ $.Site.BaseURL }}{{ .URL }}" class="nav-link {{ if $.IsHome }}scroll{{ end }}">{{ .Name }}</a>
                            </li>
                            {{else}}
                            <li>
                                <a href="{{ $.Site.BaseURL }}{{ .URL }}" class="nav-link {{ if $.IsHome }}scroll{{ end }}">{{ .Name }}</a>
                            </li>
                            {{ end }}

                            {{ end }}
                            <li><a href="#">Example <i class="ti-angle-down"></i></a>
                                <ul class="submenu">
                                    <li><a href="blog.html">blog</a></li>
                                    <li><a href="single-blog.html">single-blog</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>

            <div class="col-xl-5 col-lg-4 d-none d-lg-block">
                <div class="book_room">
                    <div class="socail_links">
                        <ul>
                            <li>
                                <a href="#">
                                    <i class="fa fa-facebook-square"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-instagram"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="book_btn d-none d-lg-block">
                        <a class="popup-with-form" href="#test-form">Book A Room</a>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="mobile_menu d-block d-lg-none"></div>
            </div>
        </div>
    </div>
  </div>
</div>
